
<div class="info-container">
    <h2>OUR SERVICES</h2>
    <div class="line"></div>
    <div class="sub-container">
        <div class="item">
            <h4>TRAVEL</h4>
            <h5>Article Title</h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
        </div>

        <div class="item">
            <h4>TRAVEL ARRANGEMENTS</h4>
            <h5>Article Title</h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
        </div>

        <div class="item">
            <h4>OUR PROFESSIONAL GUIDE</h4>
            <h5>Article Title</h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
        </div>

        <div class="item">
            <h4>ACTIVITIES</h4>
            <h5>Article Title</h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
        </div>
        
    </div>
</div>
