
.search-container{
    margin-top: 5%;
    margin-left: 38%;
    font-weight: bold;
    color: rgb(136, 35, 52);
}

input{
    width: 450px;
    height: 42px;
    margin-left: 35%;
    border-radius: 15px;
    border: 1px solid rgb(161, 160, 160);
    font-size: 20px;
    text-align:justify;
}


